*{
   margin: 0%;
   padding: 0%;
   font-family: giloray;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    
    border-radius: 10px;
    height: 450px;
    width: 300px;
    background-color: #fff;
    padding: 30px;
}
#btn-contaionar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center ;
    border-radius: 10px;
   

}
#card h1{
    margin: 10px 50px;
    font-size:25px ;
   
}
#card h5{
    font-size: 25px;
    color: red;
    margin:20px 70px;
}
#card button{
    background-color: cadetblue;
    color: #ffff;
margin: 0 13px;
padding: 20px 12px ;
   border-radius: 5px;
  font-weight: 700;
  border: none;
  cursor: pointer;
 
}

